<!DOCTYPE html>
<html>
  <head>
    <title>ログインページ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .vdl {background-color: darkmagenta; width: 100%;}
      .header_design{ background-color: darkblue;}
      .menu-icon {width: 50px;height: 50px;position: fixed;top: 0;left: 0;margin: 10px 15px;transform:scale(0.8);padding: 0;}
      .menu-bar {width: 50px;height: 5px;background: rgb(190,190,190);position: absolute; transition: all 0.2s;}
      .menu-bar1 {margin-top: 9px}
      .menu-bar2 {margin-top: 23px}
      .menu-bar3 {margin-top: 37px}
      .menu-icon.hover .menu-bar1 {-webkit-transform: rotate(135deg) scaleX(0.7);margin-top: 22px;}
      .menu-icon.hover .menu-bar2 {opacity: 0}
      .menu-icon.hover .menu-bar3 {-webkit-transform: rotate(-135deg) scaleX(0.7);margin-top: 22px;}
    </style>

  </head>
  <body>
    <header class="header_design">
      <div class="menu-icon" onclick="this.classList.toggle('hover');Drop(0)">
        <div class="menu-bar menu-bar1"></div>
        <div class="menu-bar menu-bar2"></div>
        <div class="menu-bar menu-bar3"></div>
    </div>
    </header>
    <div role="main">
      <div class="row">
        <div class="vdl text-center pt-3 card pb-5 m-5">
          <a href="/vdl">
            <h3>ビデオダウンローダー</h3>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
